@charset "uft-8";

* {
  box-sizing: border-box;
}

.box {
  border: 2px solid black;
  width: 50%;
  padding-bottom: 20px;
}

h1, h3, p {
  padding-left: 30px;
}

.image1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.image2 {
  position: absolute;
  width: 100px;
  height: 50px;
  right: 50.1%;
  top: 1.7%;
}